{% extends 'base.html.twig' %}

{% block title %} 
     Hello
{% endblock title %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/product.css')}}">
{% endblock stylesheets %} 

{% block body %}

<body>



  <div class="alert alert-success">

           <div class="col-md-4">

              <h4>Product</h4>

          </div>

            <h5>Food</h5>

            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>

          

  </div>

</body>


{% endblock body %}